@font-face {
    font-family:Philosopher;
    src:url(./fonts/Philosopher.otf);
}

@keyframes oborot {
    0%   {transform:rotateY(0deg);}
    100% {transform:rotateY(360deg);}
}

@keyframes story-appear {
    0%   { opacity: 0; left: -20%; }
    100% { opacity: 1; left: 0%; }
}

@keyframes pulse {        
    0%   {transform:scale(1.0); color:#000000;}
    50%  {color:#134c46;}
    100% {transform:scale(1.05); color:#000000;}
}


* {
    box-sizing:border-box;
}

body {
    background-color:#000000;
    width:100%;
    /* height:2000px; */
    /*     font-family:Forum; */
    font-family:Philosopher;
}

::selection{
    background:#009688;
    color:#fefcf7;
}

a {
    color: #fefcf7;
    text-decoration: none
}

h1 {
    color: #fefcf7;
    font-size:3.2vw;
    font-weight:600;
    padding:2vw 0vw;
    text-align:center;
    /*text-shadow:2px 0px 45px #000000;*/
    text-transform:uppercase;
}

h2 {
    color: #fefcf7;
    font-size:2.0vw;
    text-align:center;
    /*text-shadow:0px 0px 9px black;*/
    letter-spacing:0.02em;
}

h3 {
    color: #fefcf7;
    font-size:2.0vw;
    padding-left:8vw;
    padding-top:3vw;


}

.header {
    display:flex;
    flex-direction:column;
}

.menu {

    display:flex; 
    /*border: 2px solid #e83a82; */
    justify-content:left;   
    align-items:center; 
    padding:3.5em 1em;
    box-sizing:content-box;
    height:8vw;
    text-transform:uppercase;
    font-size:1.4vw;
    letter-spacing:0.02em;
    position:relative;
}

    .logo {
        background-image:url(./art/logooccama.svg);
        background-repeat:no-repeat;
        background-size:100%;
        height:17vw;
        width:17vw;
        position:absolute;
        z-index:2;
        left:50%;
        margin-left:-8.5vw;
        cursor:pointer;
        margin-top:4vw;
        transition:all 0.75s ease-in-out;
        transition-property:transform, opacity, border-radius, box-shadow, background-color;
        transform:rotateY(0deg);
        font-family:OccamRazor;
    }

    .logo:before {
        content: 'Отсекая лишнее';
        position: absolute;
        transform: scale(-1, 1);
        font-size:2.5vw;
        opacity:0;
        transition: opacity 1.1s ease-in;
        top:6.5vw;
        color:#183d3a;
        font-family:Philosopher;
        text-align:center;

    }

    .logo:hover {
        transform:rotateY(180deg);
        /*filter: invert(100%);*/
        background-color:#fefcf7;
        border-radius:100%;
        display:inline-block;
        box-shadow: inset 0vw 0vw 5vw rgba(0, 0, 0, 0.63)
        
    }

    .logo:hover:before{                           
        opacity:1;
    }

    .menu a {
        margin:0 2.5em;
        transition: all 0.25s ease-in-out;
        animation-fill-mode: forwards;
        transform:scale(1);
    }

    .menu a:hover {
        transform:scale(1.1);
/*         color:#1e776a; */
        color:#07796a;


    }

    .menu a.register {
        margin-left:auto;
        border:solid 1px #504f4e52;
        border-radius:50vw;
        /*         line-height:0.9em; */
        padding:1.3em;
        color:black;
        background-color:#fefcf7;
        animation: pulse 2.0s ease-in-out alternate infinite;
    }


.intro {
    background-image:url(./art/newscissors.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 50% 0;
    background-attachment:fixed;
    width:90vw;
    height:42vw;
    margin-left:5vw;
    box-shadow: inset 0px 60px 140px rgba(0, 0, 0, 0.83);
    border-radius:50%;
    transform:translate3d(0,0,0);
    position:relative;
    z-index:4;
}

    .intro h1 {
        top:43%;
        animation-fill-mode:forwards;
        animation-delay: 0.5s;
        opacity:0;
        letter-spacing:0.085em;
/*         text-shadow: 0vw 0vw 0.4vw #000000db; */
        text-shadow: 0vw 0vw 2.4vw #fefcf7;
        text-transform:none;
        padding:2vw 7vw;
/*         background-color:#fefcf7eb; */
        text-align:center;
        color:black;
        font-size:5vw; 
        border-radius:180% 180% 390% 390%;
        
    }


    .intro > * {
        z-index: 1;
        position:relative;
        /*background-color:#fefcf747*/
    }

.info {
    height:40vw;
    display:flex;
    font-family:Philosopher;
}

    .info .story {
        background-color:#fefcf7;
        flex:0.75;
        display:flex;
        justify-content:center;
        flex-direction:column;
        opacity:0;
        animation: story-appear 0.4s ease-out;
        animation-fill-mode: forwards;
        animation-delay: 1.3s;
    }

        .info .story h2 {
            color:#000000;
            margin: 2em 2.5em;
        }

        .info .story ul {
            /*color:#fefcf7;*/
            color:#000000;
            /*margin:2em 2.5em;*/
        }

        .info .story li {
            padding:1.2em;
            font-size:1.5vw;
            position:relative;
            text-align:center;
        }

        .info .story li:before {
            content:'';
            background-image:url(./art/razor.svg);
            background-position:center;
            background-size:contain;
            background-repeat:no-repeat;
            position:absolute;
            bottom:-0.5em;
            left:50%;
            font-size:2vw;
            width:1em;
            height:1em;
            display:block;
        }

        .info .photo {
            background-image:url(./art/mom.jpg);
            background-size:cover;
            background-repeat:no-repeat;
            flex:0.5;
            filter:contrast(100%) /*grayscale(150%)*/;
            box-shadow: inset 0px 20px 150px rgba(0, 0, 0, 0.56);
        }

.info-bar {
    height:25vw;
    background-color:black;
    display:flex;
    font-family:Rotis;
    cursor:pointer;
    margin-top:1.5vw;
    
}

    .info-bar .icon:hover {
/*         filter:opacity(80%); */
        filter: hue-rotate(100deg);    
    }


    .info-bar .icon {
        font-family:Philosopher;
        background-repeat:no-repeat;
        background-position:50% 30%;
        background-size:20%;
        width:100%;
        color:#fefcf7;
        display:flex;    
        flex-direction:column;       
        align-items:center;
        justify-content:flex-end;
        padding-bottom:6vw;
        font-size:2vw;
/*         border: 2px solid #e83a82; */
    }


    .info-bar .phone{
        position:relative;

    }

        .info-bar .phone:before {

            content:'';
            background-image:url(./art/phone.svg);
            position:absolute;
            animation: oborot 2.0s cubic-bezier(0.4, 0, 1, 1) alternate infinite;
            background-repeat:no-repeat;
            background-position:50% 30%;
            background-size:25%;
            width:100%;
            height:42%;
            padding-bottom:6vw;
        }


    .info-bar .adress{
        background-image:url(./art/adress.svg);
    }

    .info-bar .time{
        background-image:url(./art/time.svg);
    }

    .info-bar .instagram{
        background-image:url(./art/instagram.svg);
    }

    .info-bar .vk{
        background-image:url(./art/vk.svg);
    }

    .info-bar .facebook{
        background-image:url(./art/facebook.svg);
    }


.scroller {
    position:relative;
    width: 90%;
    height: 50vw;
    margin-left:5%;
    border-radius: 100%;
    transform: translate3d(0, 0, 0);
    overflow:hidden;
}

    .scroller .pagination {
        display:flex;
        height:15vw;
        position:absolute;
        top:90%;
        z-index:1;
        flex-direction:row;
        width:100%;
        justify-content:center;
    }

        .scroller .pagination div {
            height:1.1vw;
            width:1.1vw;
            background-color: #075e528a;
            border-radius:50%;
            margin:0vw 0.5vw;
            transform:scale(1);
            cursor:pointer;
            transition: all 0.25s ease-in-out;
        }

        .scroller .pagination div.active {
            background-color: #cde6e38a;
            transform:scale(1.35);
        }


    .scroller h1 {

        color:#191919;
        right:7vw;
        top:4vw;;
        position:absolute;
        z-index:10;
        font-size:4vw;
        background-color:#9c2b2b00;
        padding:0.8em;
        border-radius:50%;
    }

    .scroller button {
        background-color:#2a5d5100;
        width:5vw;
        height:4vw;
        position:absolute;
        top:45%;
        outline: none;
        background-repeat:no-repeat;
        background-size:contain;
        border:none;
        cursor:pointer;
        margin:0;
        padding:0;
        z-index:1;
    }

        .scroller-prev {
            left:2vw;
            background-image:url(./art/prev.svg);
        }

        .scroller-next {
            right:2vw;
            background-image:url(./art/prev.svg);
            transform:scale(-1,1);
            
        }

    .scroller:after {
        content: '';
        position:absolute;
        left:0; top: 0; right: 0; bottom: 0;
        box-shadow: inset 0vw 4vw 14vw rgb(0, 0, 0);
        border-radius: 40%;
        pointer-events:none;
        background:linear-gradient(#00000059 0%,transparent 50%)
    }


    .scroller-inner {
        overflow-x:auto;
        overflow-y:hidden;
        -webkit-overflow-scrolling: touch;
        overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        display: flex;
        width:100%;
        height:100%;
/*         position:relative; */
    }

        .scroller .item {
            width: 100%;
            height: 100%;
            flex: none;
            scroll-snap-align:center;
            position: relative;
        }

            .scroller .item img {
                display: block;
                margin:0;
                padding:0;
                border:none;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .scroller .item .text {
                color: #fefcf7;
                padding:0vw 4vw;
                position: absolute;
                text-align:center;
                font-size: 6.2vw;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display:flex;
                align-items:center;
                justify-content:center;
                text-shadow: 0vw 0vw 0.5vw #000000ba;
            }


.prices {
}

    .prices h1 {
        background-color:#fefcf7;
        border-radius:100% 100% 0 0;
        padding-top:13vw;
        padding-bottom:5.2vw;
        color:black;
        margin-top:7.4vw;
        font-size:5vw;
    }    

    .prices .pagination {
        height:15vw;
        display:flex;
        font-family:Philosopher;
        background-color:#fefcf7;
        padding: 0 13%;
    }

        .prices .pagination div {
            flex:1;
            font-size:3vw;
            outline:none;
            font-family:Philosopher;
            border-radius:5vw;
            margin:3vw 5vw;
            background-color:#fefcf7;
            color:#000000;
            padding:0;
            border:1px solid rgba(0,0,0,0.25);
            display:flex;
            align-items:center;
            justify-content:center;
            cursor:pointer;
            transition:all 0.25s ease-in-out;
        }

        .prices .pagination div:hover{

            background-color:#cde6e38a;
        }

        .prices .pagination div:nth-child(1):before {
            content: 'WOMAN'
        }

        .prices .pagination div:nth-child(2):before {
            content: 'MAN'
        }

        .prices .pagination div.active {
            background-color:#000000;
            color:#fefcf7;
        }

#contacts {
    top:-17vw;
    position:relative;
}
    
.cost{
    display:flex;
    width:100%;
    background-color:#fefcf7;
    flex-direction:row;
    align-items:flex-start;
    overflow-x:auto;
    overflow-y:hidden;
    scroll-snap-type:x mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    color: black;
}

    .cost .page {
        scroll-snap-align:center;
        background-color:#fefcf7;
    }

        .cost .page ul {
            padding-top:10vw;
        }

            .cost .page li {
                text-align:center;
                font-size:2vw;
                padding:0.5em 0em;
            }

            .cost .page li.unavailable {
                opacity: 0.25;
            }

            .cost .page li.unavailable .price:after {
                content: 'недоступно для выбранной длины'
            }

                .cost .page li .price {
                    display:block;
                    padding-top:1em;
                }

                    .cost .page li .price:after {
                        content: ' р.'
                    }

            .cost .page.woman li {
            }

            .cost .page.woman span {
                padding-bottom:1.1em;
            }

    .cost .man {
        height:100%;
        width:100%;  
        flex:none;
    }

    .cost .woman {
        width:100vw;
        height:100%;
        flex:none;
    }

.range {
    color:#fefcf7;
    text-align:center;
}

    .range .item {
        height:4em;
        width:4em;
        margin:0 0.5em;
        padding:0;
        border-radius:100%;
        display:inline-flex;
        align-items:center;
        justify-content:center;
        color:black;
        font-size:2.5vw;
        position:relative;
        z-index:2;
        cursor:pointer;
        line-height:0;
    }

        .range .item:before {
            content:'';
            position:absolute;
            width:100%;
            height:100%;
            left:0;
            top:0;
            background:#cde6e38a;
            border-radius:100%;
            z-index:-1;
            transition:all 0.25s ease-in-out;
        }

        .range .item:not(.active):before {
            transform:scale(0);
        }

        .range .item:hover:not(.active):before {
            transform:scale(1);
        }

    .range .item.active {
        color:#fefcf7;
    }

        .range .item.active:before {
            background:black;
        }


/*             .cost .woman .range .fifteen {
                background-color:#9e9e9e;
            }

            .cost .woman .range .twentyfive {
                background-color:#757575;
            }
            .cost .woman .range .thirtyfive {
                background-color:#616161;
            }
            .cost .woman .range .fourtyfive {
                background-color:#424242;
            }
            .cost .woman .range .more {
                background-color:#212121;
            } */



/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/


@media (max-width: 500px) {
    
    .menu {
        display:inline-flex;
        flex-direction:column;
        padding:50vw 0vw;
        height:77vw;
        font-size:8.4vw;
        justify-content:center;
        margin-bottom:10vw;
        /*border: 2px solid #E91E63; */

    }

        .menu a {
            padding-top:7vw;
        }

        .menu a.register {
            border-radius:50vw;
            padding:1.2em;
            background-color:#fefcf7;
            position:absolute;
            bottom:25vw;
        }
   
    .intro {
        background-size:100%;
        background-image:url(./art/newscissors2.jpg);
        height:100vw;
        box-shadow: none;
        margin-left:0;
        margin-top:19vw;
        width:100vw;
        background-repeat:no-repeat;
        background-position:center;
        border-radius:50%;
        z-index:4;
        background-attachment:local;
    }
    
        .intro h1 {
/*             background-color:#1412123b; */
            top:60%;
            font-size:6vw;
            line-height:1.4em;
            letter-spacing:0.1em;
        }

    .logo {
        height:60vw;
        width:60vw;
        background-size:60vw;
        left:28.5%;
        margin-top:-55vw;
    }

        .logo:before {
            content: 'Отсекая лишнее';
            color:#152d2b;
            position: absolute;
            font-family:Philosopher;
            font-size:10vw;
            opacity:0;
            text-align:center;
            top:21.5vw;
            transition: opacity 1.1s ease-out;
        }

    .prices h1 {
        margin-top:15vw;
        font-size:9.7vw;
    }
    
    .info-bar {
        height:auto;
        display:block;   
    }

        .info-bar .icon {
            display:block;
            text-align:center;
            padding-bottom:10vw;
            padding-top:75vw;
            font-size:8vw;
            background-position:50% 50%;
            background-size:30%;
            padding-bottom:13vw;
            padding-left:2vw;
            padding-right:2vw;
            position:relative;
    /*         border-top: 2px solid #ffffff4d; */
        }

            .info-bar .phone:before {

                top:25vw;
                left:0vw;
                background-size:30%;
            }

            .info-bar .icon:not(:first-child):after {
                border-top: 2px solid #fefcf7;
                border-radius:2px;
                content:' ';
                position:absolute;
                top:10%;
                left:40%;
                width:20%;
            }


    .scroller {
        height: 100vw;
        width:100vw;
        margin-left:0;
    }

        .scroller:after {
            box-shadow: none;
            border-radius: 40%;
            pointer-events:none;
            background:linear-gradient(#00000000 0%,transparent 50%);
        }

        .scroller .item .text {
            text-align:center;
            font-size:10vw;
            padding: 0 4vw;
            top: 0.5em;
            color:#fbfbf6;
        }


    .cost .page li {
        text-align:center;
        padding:0.5em 0em;
        font-size:6vw;
    }

    .cost-buttons {
        height:16vw;
    }

    .range .item {
        font-size:3.3vw;
    }

}